body{
    background-color: mediumpurple;
    color: whitesmoke;
}

.back{
    background-color: rebeccapurple;
    padding: 2rem;
}

.jumbotron{
    background-image: url("img/tell-when-its-safe-eat-around-moldy-food.w1456.jpg");
    background-repeat: repeat-x;
    height: 18em;
}

.jumbo-text {
    color: mediumpurple;
    opacity: 0.5;
}